snippet emake "c++ starter"
#include <iostream>

$0

int main() {

}

endsnippet
snippet n "Makes newline with propper end stuff"
<< "\n";$0
endsnippet

snippet print "Makes the whole cout statement"
std::cout << $1 << "\n";$0
endsnippet
